button:hover {
  background: $light-green;
  text-decoration: none;
}

.form_hint {
    background: $brightaccent;
    border-radius: 3px 3px 3px 3px;
    color: $textcolor;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}

.newCryptid_form input:focus + .form_hint {
  display: inline;
}
