<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cryptid Match - A Matchmaking Site for Cryptids</title>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet" type="text/css">
</head>
<body data-ng-app="CryptidMatchApp">

  <h1>Cryptid Match (eSasquatchHarmony)</h1>

  <article class="intro">
    Tired of wandering the majestic pacific northwest forests alone?  Then this
    app is for you!  Find your sasquatch mate by creating a profile and
     searching for matches!  We're open to all cryptids, whether you be a
     sasquatch, yeti, abominable snowman, bigfoot, or Wendigo.  We don't
     discriminate based on religion, creed, gender, or fur color.
  </article>


  <main data-ng-controller="CryptidsController" data-ng-init="getAll()">

    <div data-cryptid-form-directive
      data-button-text="Create New Cryptid Profile"
      data-form-name="newCryptidForm"
      data-heading-text="New User? Create a Profile Below!"
      data-cryptid="newCryptid"
      data-action="create(cryptid)">
    </div>

    <section id="cryptidlist">
      <div class="profile" data-ng-repeat="cryptid in cryptids">Name: {{cryptid.name}}<br>
        Species: {{cryptid.species}}<br>
        Habitat: {{cryptid.habitat}}<br>
        vegetarian: {{cryptid.vegetarian}}<br>
        Hobbies: {{cryptid.hobbies}}<br>
        <button data-ng-if="!cryptid.editing" data-ng-click="remove(cryptid)">
          Delete this cryptid profile</button>
        <button data-ng-click="rabidView(cryptid)">Rabid?</button>

        <form name="updateCryptidForm{{cryptid._id}}" data-ng-submit="update(cryptid, updatedCryptid)" data-ng-if="cryptid.editing">

          <h3>Update Cryptid Dating Profile</h3>

          <label for="updatedCryptidName{{cryptid._id}}">Name:</label>
    				<input type="text" id="updatedCryptidName{{cryptid._id}}" required data-ng-model="updatedCryptid.name">
          <br>
    			<label for="updatedCryptidSpecies{{cryptid._id}}">Species: </label>
    				<input type="text" id="updatedCryptidSpecies{{cryptid._id}}" data-ng-model="updatedCryptid.species">
          <br>
    			<label for="updatedCryptidHabitat{{cryptid._id}}">Habitat: </label>
    				<input type="text" id="updatedCryptidHabitat{{cryptid._id}}" data-ng-model="updatedCryptid.habitat">
          <br>
          <label for="updatedCryptidRabid{{cryptid._id}}">Rabid? </label>
      			<input type="boolean" id="updatedCryptidRabid{{cryptid._id}}" data-ng-model="updatedCryptid.rabid">
          <br>
          <label for="updatedCryptidDiet{{cryptid._id}}">Vegetarian? </label>
            <input type="boolean" id="updatedCryptidDiet{{cryptid._id}}" data-ng-model="updatedCryptid.vegetarian">
          <br>
          <label for="updatedCryptidHobbies{{cryptid._id}}">Hobbies: </label>
            <input type="text" id="updatedCryptidHobbies{{cryptid._id}}" data-ng-model="updatedCryptid.hobbies">
          <br>


        <button type="submit">Submit Update</button>

        <button data-ng-click="cryptid.editing = false">Cancel Update </button>
      </form>
      <button data-ng-if="!cryptid.editing" data-ng-click = "cryptid.editing = true; cache(cryptid)">Edit this cryptid</button>

      </div>
    </section>

  </main>



  <script src="bundle.js"></script>
</body>
</html>
