@import "config";
@import "mixins";
@import "base";
@import "layout";
@import "state";


/*notes:
possible colors:
dark almost black: #090401
off-white: #e5de9e
leaf brown: #5d1900
forest green: #0d3600
mushroom cap red: #e92300
*/



input {
  background-color: $focusbackground;
  border-color: $focusborder;
}

label span, .required_notification {
  color: $brightaccent;
  font-weight: bold;
}

.newCryptid_form li {
  border-bottom: 1px solid $maindivider;
}

.intro {
  background-color: $focusbackground;
}

h1,h2,h3 {
  font: $font-sans;
}

body {
  background-color: $mainbackgroundcolor;
  color: $textcolor;
}

h1 {
  background-color: $mediumaccent;
  color: $textcolor;
}

button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: map-get($buttonmap, button-text);
  font-size: 18px;
  background: map-get($buttonmap, button-background);
  text-decoration: none;
  border-color: map-get($buttonmap, button-border);
  margin: 5px;
}

// input[disabled] {
//   background-color: map-get($input, disabled-background);
//   border-color: map-get($input, disabled-border);
//   color: map-get($input, disabled-text);
// }

.form_hint {
    background: $brightaccent;
    border-radius: 3px 3px 3px 3px;
    color: $alt-text-color;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}

.newCryptid_form input:focus + .form_hint {
  display: inline;
}

.profile {
  background-color: $focusbackground;
  @include default-box;
  border: 3px solid $focusborder;
}
